<div class="col-md-12">
    <!--Basic Table-->
    <div class="panel panel-dark-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-car"></i>{{title}}</h3>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tag Number</th>
                    <th>ASM</th>
                    <th>Team</th>
                    <th>Vehicle</th>
                    <th>Color</th>
                    <th>VIN - Last 4</th>
                    <th>Status</th>
                    <th>Additional Notes</th>
                    <th>Porter</th>
                    <th>Username</th>
                    <th>Wash</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars" (click)="onSelect(car)" [class.selected]="car === selectedCar">
                    <td>{{car.id}}</td>
                    <td>{{car.tagnum}}</td>
                    <td>{{car.asm}}</td>
                    <td>{{car.team}}</td>
                    <td>{{vehicle}}</td>
                    <td>{{car.color}}</td>
                    <td>{{car.vin}}</td>
                    <td>{{car.status}}</td>
                    <td>{{car.notes}}</td>
                    <td>{{car.porter}}</td>
                    <td>{{car.username}}</td>
                    <td>{{car.wash}}</td>
                    <td><a id="updateCar" class="btn btn-primary updateCar">Update Car</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--End Basic Table-->
<my-car-detail [car]="selectedCar"></my-car-detail>