<div class="col-md-12">
    <!--Basic Table-->
    <div class="panel panel-dark-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-task"></i>{{title}}</h3>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Time</th>
                  <th>ASM</th>
                  <th>Task</th>
                  <th>Porter</th>
                  <th>Status</th>
                  <th>Additional Notes</th>
                  <th>Username</th>
                  <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks" (click)="onSelect(task)" [class.selected]="task === selectedTask">
                    <td>{{task.timestamp}}</td>
                    <td>{{task.time}}</td>
                    <td>{{task.asm}}</td>
                    <td>{{task.task}}</td>
                    <td>{{task.porter}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.notes}}</td>
                    <td>{{task.username}}</td>
                    <td><a id="updateTask" class="btn btn-primary updateTask">Update Task</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--End Basic Table-->
<my-task-detail [task]="selectedTask"></my-task-detail>